---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?user_key=YOUR_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"610927987","charityName":"PADUCAH
        INTERNATIONAL AUTO RACING","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/610927987","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/610927987","eligibleCd":0,"city":"PADUCAH","state":"Kentucky","zipCode":"42003-5525","deductibilityCd":0,"statusCd":4,"start":0,"rows":20,"recordCount":2208102,"score":1,"website":"","missionStatement":"","acceptingDonations":0},{"ein":"223051022","charityName":"YOUNG
        SCHOLARS INSTITUTE INC","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/223051022","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/223051022","eligibleCd":1,"city":"TRENTON","state":"New
        Jersey","zipCode":"08618-5705","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":2208102,"score":1,"website":"","missionStatement":"","acceptingDonations":1},{"ein":"470646854","charityName":"EMERSON[...]
