---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?rows=22&searchTerm=cows&start=1&user_key=65ebdfdcf9488a3e502a3b6aa18eb60a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"651043617","charityName":"SEA
        COWS ON PARADE INC","category":"Arts, Culture and Humanities","url":"http:\/\/www.orghunter.com\/organization\/651043617","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/651043617","eligibleCd":1,"city":"FORT
        PIERCE","state":"Florida","zipCode":"34950-3010","deductibilityCd":1,"statusCd":1,"start":1,"rows":22,"recordCount":85,"score":13.815885,"website":"","missionStatement":"","acceptingDonations":1},{"ein":"10388822","charityName":"NO
        SACRED COWS","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/10388822","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/10388822","eligibleCd":0,"city":"PORTLAND","state":"Maine","zipCode":"04112-7582","deductibilityCd":0,"statusCd":4,"start":1,"rows":22,"recordCount":85,"score":13.815885,"website":"","missionStatement":"","acceptingDonations":0},{"ein":"474647563","charityName":"COWS
        FOUNDATION","categor[...]
