---
http_interactions:
- request:
    method: get
    uri: http://data.orghunter.com/v1/charitysearch?state=IL&user_key=YOUR_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","msg":"OK, all went through!","data":[{"ein":"237174208","charityName":"LELAND-KENMORE
        WELFARE RIGHTS","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/237174208","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/237174208","eligibleCd":0,"city":"CHICAGO","state":"Illinois","zipCode":"60640-5027","deductibilityCd":0,"statusCd":4,"start":0,"rows":20,"recordCount":93878,"score":1,"website":"","missionStatement":"","acceptingDonations":0},{"ein":"363576023","charityName":"CHURCH
        OF GOD OF PROPHECY","category":"Not Provided","url":"http:\/\/www.orghunter.com\/organization\/363576023","donationUrl":"http:\/\/donate.makemydonation.org\/donate\/363576023","eligibleCd":1,"city":"ZION","state":"Illinois","zipCode":"60099-1665","deductibilityCd":1,"statusCd":1,"start":0,"rows":20,"recordCount":93878,"score":1,"website":"","missionStatement":"","acceptingDonations":1},{"ein":"237176532","charityName":"CHRISTIAN
        STEWARD[...]
